body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*BLACK CONTAINERS*/

.container1, .container2, .container3{
    display: flex;
    width: 90%;
    max-width: 1600px;
    background-color: #000000;
    margin: 1rem;
}
.container1{
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/arc.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.container2{
    height: 30%;
    align-items: center;
    justify-content: space-evenly;

}
.container3{
    height: 10%;
    align-items: center;
    justify-content: center;

}


/*FIRST CONTAINER ELEMENTS*/

.gray, .orange {
    width: 93%;
    height: 40%;
    margin: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orange{
    background-color: rgba(187, 183, 183, 0.2 );
    justify-content: center;
}

    /*GRAY CONTAINER ELEMENTS*/

    .red1, .red2, .red3{
        height: 35%;
    }

    
    .red1{
        width: 8%;
        height: 75%;
        background-image: url(../assets/images/logo.png);
        background-size: 50px 50px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        justify-self: start;
    }
    .red2{
        display: flex;
        width: 70%;
        margin-left: 40px;
        align-items: center;
    }
    .red3{
        height: 60%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .red2 div{
        margin-left: 20px;
    }
    .red2 div:hover{
        background-color: #9E9E9E;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .red3 i:hover{
        background-color: #9E9E9E;
        color: white;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .red2 div:hover i, .red2 div:hover span{
        color: white;
    }
    
    i, span{
        color: #9E9E9E;
    }

    span{
        margin-left: 5px;
    }

    /*ORANGE CONTAINER ELEMENTS*/

    .lightOrange{
        width: 95%;
        height: 35%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: rgba(211, 133, 136, 0.8);
    } 


/*SECOND CONTAINER ELEMENTS*/

.darkPurple, .redContainer{
    height: 75%;
    display: flex;
    align-items: center;
}
.darkPurple{
    background-color: #4E4E6A;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 0.5rem; */
}

.redContainer{
    background-color: #F73F52;
    width: 30%;
    flex-direction: column;
    justify-content:start;
}

    /*DARKPURPLE CONTAINER ELEMENTS*/
    .blue1, .blue2, .blue3, .blue4{
        background-color: #1F6CB0;
        height: 15%;
        width: 45%;
    }
    .lightBlue{
        background-color: #70A3C4;
        height: 15%;
        width: 93%;
    }

    /*REDCONTAINER CONTAINER ELEMENTS*/
    .yellowContainer{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 0.75rem;
    }
    .yellow1, .yellow2{
        background-color: #FEEA85;
        width: 83%;
        height: 30%;
    }



/*THIRTH CONTAINER ELEMENTS*/

.brown{
    background-color: #E6AF2E;
    height: 35%;
    width: 93%;
}


/*MEDIA QUERYS*/


/*TABLET*/

@media only screen and (max-width: 768px) {
/*CONTAINER 1*/
    .container1{
        height: 17.5%;
        margin-bottom: 2px;
    }
    /*INTO THE CONTAINER 1*/
        .gray, .orange {
            width: 93%;

        }
        /*INTO THE GRAY*/
            .red1, .red3{
                width: 13%;
            }
            .red2{
                width: 63%;
            }
    

/*CONTAINER 2*/
    .container2{
        background-color: #FEFF03;
        flex-direction: column;
        margin-bottom: 2px;

        /* align-items: center; */
    }
    /*INTO THE CONTAINER 2*/
        .darkPurple, .redContainer{
            width: 93%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .darkPurple{
            height: 49%;
            justify-content: space-evenly;
        }
        .redContainer{
            height: 31%;
            flex-direction: column;
            justify-content:start;
        }

        /*INTO THE DARKPURPLE*/
            .blue1, .blue2{
                background-color: #1F6CB0;
                margin-top: 10px;
            }
            .lightBlue{
                background-color: #70A3C4;
                margin-bottom: 10px;
            }
    
        /*INTO THE REDCONTAINER*/
            .yellowContainer{
                height: 100%;
                margin-top: -2px;
            }
            .yellow1, .yellow2{
                width: 93%;
                height: 27%;
                margin-top: -7px;
    

            }
            .yellow2{
                margin-bottom: 3px;
            }
        
    
/*CONTAINER 3*/    
    .container3{
        margin-bottom: 2px;
        height: 6.5%;
    }
}





/*MOBILE*/


@media only screen and (max-width: 600px) {
    body{
        height: 1000px;
    }
    .container1, .container2, .container3{
        width: 80%;
    }
    /*CONTAINER 1*/
    .container1{
        height: 500px;
        margin-bottom: 2px;
    }
        /*INTO THE CONTAINER 1*/
        .gray, .orange {
            width: 87%;
        }
        .gray{
            height: 55%;
            flex-direction: column;
        }
        .orange{
            height:25%;
            margin-top: 20px;
        }
        /*INTO THE GRAY*/

            .red1, .red2, .red3{
                width: 80%;
                height: 15%;
            }
        /*INTO THE ORANGE*/
            .lightOrange{
                width: 80%;
            }

    /*CONTAINER 2*/

    .container2{
        height: 700px;
        flex-direction: column;
        background-color: #FEE228;
    }
        /*CONTAINER2 ELEMENTS*/
        .darkPurple, .redContainer{
            width: 87%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .darkPurple{
            background-color: #09506F;
            height: 60%;
            justify-content: space-evenly;
            align-items: center;
        }
        .redContainer{
            height: 25%;
            background-color: #FD7B54;
        }


            /*DARKPURPLE ELEMENTS*/
            .blue1, .blue2, .blue3, .blue4, .lightBlue{
            height: 10%;
            width: 80%;
            margin: auto;

            }
            .blue1, .blue2, .blue3, .blue4{
                background-color: #61959C;
                /* margin: 15px 0 -25px 0; */
            }
            .blue1{
                margin: 10px auto 0 auto;
            }
            .lightBlue{
                background-color: #A3DDCB;
                margin: 0 auto 10px auto;
            }

            /*REDCONTAINER ELEMENTS*/
            .yellow1, .yellow2{
                width: 80%;    
                background-color: #FDB36B;
            }


    
    /*CONTAINER 3*/
    .container3{
        height: 100px;
    }
        /*CONTAINER 3 ELEMENTS*/
        .brown{
            background-color: #E6AF2E;
            height: 35%;
            width: 87%;
        }


}